@use 'variables';
@use "sass:map";


/*  .page1 {
   
    scroll-behavior: smooth;
    background-color: variables.$wei;

} */



.sectionKont {
    @include variables.m90;
    
}

.datenAkt{
    
    
    padding: 1.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: variables.$kre;
    
}

.titAkt {
    font-family: variables.$robCond;
    color: variables.$grauDDD;
    font-weight: bold;
    font-size: .8em;
    margin-bottom: 1em;
}



.blaAkt {
    font-family: variables.$rob;  
    font-size: 1em;
    text-align: justify;
    margin-top: 1em;
    

}
.imgAkt {
    object-fit: cover;
    width:100%;
   
    border: 0;
}

