@use 'variables';
@use "sass:map";


 .imageU {
    @include variables.imgGal; 
    cursor:zoom-in;
} 
.m-modal {
    background-color: variables.$schwTT;
    color: variables.$wei;
    font-weight: bold;
}