@use "sass:map";

/* mixin */
@mixin c90 {
    width: 90%;
    margin: 0 auto;    
}
@mixin m90 {
    width: 90%;
    margin: 1.5em auto;    
}

@mixin title {
    font-family: $robCond;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

@mixin imgGal {
    margin-top: .6em;
    vertical-align: middle;
    width: 100%;
    display: block;
}
@mixin underline {
    text-decoration: underline 0.15em $schwT;
    transition: all 300ms; 
}


/* variables */
$schw: rgba(0, 0, 0, 1);
$schwT:rgba(0, 0, 0, 0);
$schwTT: rgba(0, 0, 0, 0.8);
$grau: #ddd;
$grauD: rgba(204, 204, 204, 1);
$grauDD: rgba(187, 187, 187, 1);
$grauDDD: rgba(170,170,170,1);
$grauT: rgba(204, 204, 204, .7);
$grauTT: rgba(204, 204, 204, .9);

$kre: #f2eee9;
/* $kreT:rgba(242, 238, 233, .7); */
/* $kreT:rgba(255, 255, 255, .9);  */
$kreT:rgba(242, 238, 233, 1);

$granit: rgba(29, 29, 29, 1);

$red: #cf3d37;
$wei: white;
$weiT:rgba(255, 255, 255, .7);


/* Fonts */
$rob: 'Roboto', sans-serif;
$robCond: 'Roboto Condensed', sans-serif;
$belle: 'La Belle Aurore', cursive;



