@use 'variables';
@use "sass:map";


.noline::before {
    display: none;
}




.rowCard {
    @include variables.m90;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    flex: 100%;
    max-width: 100%;
    padding: 0 .3em;
    margin-bottom: 1.5em;

}



.headCard {
    width: 100%;
    height: 12em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headCard:hover {
    opacity: .7;
    cursor: pointer;
}

.imgCard1 {
    background-image: url(../images/inst1.png);
}

.bodyCard {
    background-color: variables.$wei;

    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.datum {
    font-family: variables.$robCond;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bold;
    color: variables.$grauDDD;
}

.event {
    font-family: variables.$rob;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: variables.$schw;
    margin-bottom: 1.8em;
    @include variables.underline;
}

.mehr {

    font-family: variables.$robCond;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bold;
    color: variables.$schw;
    @include variables.underline;

}

.event:hover,
.mehr:hover {

    text-decoration: underline 0.15em variables.$schw;

}


/* pastCard scss */

.card1 {
    @include variables.m90;
     max-width: 100%;
   
}


.headCard1 {
    width: 100%;
    height: 12em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.event1 {
    font-family: variables.$rob;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: variables.$schw;
    margin-bottom: 1.8em;

}
.bodyCard1 {
    background-color: variables.$wei;

    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textCard {
    text-align: justify;
}