@use 'variables';
@use "sass:map";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variables.$rob;
    font-size: 1.2em;
    line-height: 1.6;
    background: variables.$wei;
    overflow-x: hidden;
}

.page {
    background-image: url(../images/fondoglas1.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


/* go to the top */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 400;
    font-size: 1em;
    border: none;
    outline: none;
    background-color: variables.$grauT;
    color: variables.$wei;
    cursor: pointer;
    padding: .5em .9em;
    border-radius: 50%;
    transition: all 300ms;
  }
  
  #myBtn:hover {
    background-color: variables.$grauTT;
    transform: scale(1.1);
  }

/* .......h1...... */


h1 {
    font-family: variables.$belle;
    font-size: 2.2rem;
    padding-top: 1em;
    margin: 0;
    margin-left: 10%;
    transition: all 300ms;

    &:hover {
        transform: scale(1.1);
    }

    .j {

        color: variables.$red;

    }
}


/* .......menu......... */

label {
    position: static;

    .menu {
        position: absolute;

        z-index: 200;
        right: 1.2em;
        top: 1.5em;
        width: 50px;
        height: 50px;
        background: variables.$kreT;
        border-radius: 50% 50% 50% 50%;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 variables.$kreT, 0 0 0 0 variables.$kreT;
        cursor: pointer;
    }

    .hamburger {
        position: absolute;
        top: 24px;
        right: 10px;
        width: 30px;
        height: 2px;
        background: #000;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;

        &:after,
        &:before {
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background: #000;
        }

        &:before {
            top: -10px;
        }

        &:after {
            bottom: -10px;
        }
    }


}






label input {
    display: none;
}

label input:checked+.menu {
    box-shadow: 0 0 0 100vw variables.$kreT, 0 0 0 100vh variables.$kreT;

    border-radius: 0;
}

label input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

label input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}

label input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

label input:checked+.menu+nav {
    opacity: 1;
}

label nav {
    z-index: 300;
    position: absolute;
    top: 40%;
    left: 50%;
    font-family: variables.$robCond;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .5s 0s ease-in-out;
    transition: .5s 0s ease-in-out;
}

label .menuRight {
    margin-left: 2em;

}

label .menuLeft,
label p {
    font-weight: bold;

}


label a {

    margin-bottom: 1em;
    display: block;
    color: #000;




    text-decoration: underline 0.15em rgba(0, 0, 0, 0); 
    /* border-bottom: 3px solid variables.$schwT;  */

    transition: all 300ms;
}

label a:hover {
    text-decoration-color: rgba(0, 0, 0, 1); 
    /* border-bottom: 3px solid variables.$schw;  */
}

/* .....Slide..... */


.mySlides {
    display: none;
    width: 100%;

}

.slide {
    max-width: 100%;
    margin-top: 0;

}





/* Introduction */

.introS {

    background-color: variables.$kre;
    @include variables.m90;
    padding: 1.5em;

}

.intro1,
h2 {
    @include variables.title;
}

.intro2 {
    display: inline-block;
    text-align: justify;
}



/* instagram */
.instagS {
    @include variables.m90;

    h2 {
        margin-left: 1.5em;
    }
}

.instagram {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
    gap: .5em;
    transition: all .5s;

    a:hover {
        opacity: .7;
    }

    span {
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        padding: 0.2em 0.7em;
    }

    i {

        color: variables.$weiT;
        font-size: 2em;

    }
}


.insta {
    width: 99%;
    height: 10em;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0.5em;
}

.insta1 {
    background-image: url(../images/inst1.png);
}

.insta2 {
    background-image: url(../images/inst2.png);
}

.insta3 {
    background-image: url(../images/inst3.png);
}

.insta4 {
    background-image: url(../images/inst4.png);
}

.insta5 {
    background-image: url(../images/inst5.png);
    display: none;
}

.insta6 {
    background-image: url(../images/inst6.png);
    display: none;
}

.insta7 {
    background-image: url(../images/inst7.png);
    display: none;
}

.insta8 {
    background-image: url(../images/inst8.png);
    display: none;
}

.insta9 {
    background-image: url(../images/inst9.png);
    display: none;
}

.insta10 {
    background-image: url(../images/inst10.png);
    display: none;
}

.insta11 {
    background-image: url(../images/inst11.png);
    display: none;
}

.insta12 {
    background-image: url(../images/inst12.png);
    display: none;
}

.insta13 {
    background-image: url(../images/inst13.png);
    display: none;
}

.insta14 {
    background-image: url(../images/inst14.png);
    display: none;
}

.insta15 {
    background-image: url(../images/inst15.png);
    display: none;
}

.insta16 {
    background-image: url(../images/inst16.png);
    display: none;
}

/* footer */
.flex1 {
    @include variables.m90;
    margin-bottom: 0;

}


.newsletter label {
    font-size: .8em;
    font-weight: bold;
    margin: 0 0 .5em .8em;

}

.newsletter input {
    width: 100%;

    font-size: .8em;
    font-weight: bold;
    margin-bottom: .5em;
    border: none;
    background-color: variables.$kre;
    padding: .5em;
}

.newsletter button {

    font-size: .8em;

    border: none;
    color: variables.$wei;
    background-color: variables.$schw;
    padding: .5em;
    font-weight: bold;
    transition: all 300ms;
    &:hover {
        opacity: .5;
        cursor: pointer;        
    }
}

.newsletter form {
    @include variables.c90;

}

.fotoUnten {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.fotoUnten img {
    width: 40%;
    margin: 1em 3em 0;

}

.black {

    background-color: variables.$schw;
    padding-top: 1em;
    padding-bottom: 1em;


}

.blackInn {
    @include variables.c90;



    display: flex;
    align-items: center;
    justify-content: space-between;
    color: variables.$wei;

}

.icons a i {
    margin-right: .5em;

}


.icons a i:hover {
    transform: scale(1.3);


}