
$kre: #f2eee9;
/* $kreT:rgba(242, 238, 233, .7); */
$kreT:rgba(255, 255, 255, .8); 

$granit: rgba(29, 29, 29, 1);

$red: #cf3d37;
$wei: white;


/* Fonts */
$rob: 'Roboto', sans-serif;

$robCond: 'Roboto Condensed', sans-serif;



$belle: 'La Belle Aurore', cursive;



