/* Farben */
$wei: white;
$kre: #f2eee9;
/* $kreT:rgba(242, 238, 233, .7); */
$kreT:rgba(255, 255, 255, .7); 

$granit: rgba(29, 29, 29, 1);

$red: #cf3d37;

/* Fonts */

$jost: 'Jost', sans-serif;
$sspro: 'Source Sans Pro', sans-serif;

