@use 'variables';

@mixin title {
  font-family: variables.$robCond;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



body {

  font-family: variables.$rob;
  font-size: 1.2em;
  line-height: 1.6;
  background: variables.$wei;
  overflow-x: hidden;
}

a {
  text-decoration: none;

}


/* h1 */

.aH1 {
  margin-top: 1.5em;
}

h1 {
  font-family: variables.$belle;

  font-size: 2.2rem;
  margin: 0;
  margin-left: 10%;
  transition: all 300ms;

  &:hover {
    transform: scale(1.1);
  }
}


.j {

  color: variables.$red;

}



/* .......menu......... */

label {
  position: static;
}


label .menu {
  position: absolute;

  z-index: 200;
  right: 1.2em;
  top: 1.2em;
  width: 50px;
  height: 50px;
  background: variables.$kreT;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 variables.$kreT, 0 0 0 0 variables.$kreT;
  cursor: pointer;
}

label .hamburger {
  position: absolute;

  top: 24px;
  right: 10px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked+.menu {
  box-shadow: 0 0 0 100vw variables.$kreT, 0 0 0 100vh variables.$kreT;

  border-radius: 0;
}

label input:checked+.menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked+.menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked+.menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked+.menu+nav {
  opacity: 1;
}

label nav {
  z-index: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: variables.$robCond;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .4s 0s ease-in-out;
  transition: .4s 0s ease-in-out;
}

label .menuRight {
  margin-left: 2em;

}

label .menuLeft,
label p {
  font-weight: bold;

}


label a {

  margin-bottom: 1em;
  display: block;
  color: #000;
 



  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: all 300ms;
}

label a:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}

/* .....Slide..... */


.mySlides {
  display: none;
}





/* Introduction */

.introS {

  background-color: variables.$kre;
  width: 90%;
  margin: 1.5em auto;
  padding: 1.5em;

}

.intro1,
h2 {
  @include title;
}

.intro2 {
  display: inline-block;

  text-align: justify;
}



/* instagram */
.instagS {
  width: 90%;
  margin: 1.5em auto;
  h2 {
    margin-left: 1.5em;
  }
}

.instagram {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  gap: .5em; 
  transition: all .5s;
  a:hover {
    opacity: .7;
  } 

  span {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 0.2em 0.7em; 
  }

  i {
  
    color: variables.$weiT;
    font-size: 2em;
    
  }
}


.insta {
  width: 99%;
  height: 10em;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end; 
  padding: 0.5em;
}

.insta1 {
  background-image: url(../images/inst1.png);
}

.insta2 {
  background-image: url(../images/inst2.png);
}
.insta3 {
  background-image: url(../images/inst3.png);
}
.insta4 {
  background-image: url(../images/inst4.png);
}
.insta5 {
  background-image: url(../images/inst5.png);
  display: none;
}
.insta6 {
  background-image: url(../images/inst6.png);
  display: none;
}
.insta7 {
  background-image: url(../images/inst7.png);
  display: none;
}
.insta8 {
  background-image: url(../images/inst8.png);
  display: none;
}

@media screen and (min-width: 440px) {
  .insta5,
  .insta6 {
    
    display: flex;
  }

}


@media screen and (min-width: 576px) {

  h1 {

    /*  transform: translateX(-50%); */

    font-size: 3rem;
    transition: all .5s;
  }

  label .menu {
    right: 3em;
    top: 1.7em;
  }

}

@media screen and (min-width: 590px) {
  .insta7,
  .insta8 {
    
    display: flex;
  }

}

@media screen and (min-width: 992px) {


  label .menu {
    right: 3.5em;

  }

}

@media screen and (min-width: 1400px) {




  label .menu {
    right: 5em;

  }

}