@use 'variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {

  font-family: variables.$sspro;
  font-size: 1.2em;
  line-height: 1.6;
  background: variables.$wei;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: variables.$jost;
  font-weight: 400;
}
h1 {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* h1 */

.aH1 {
  margin-top: .8em; 

  & a {
    
    color: #000;
    text-decoration: none;
    
    transition: all 300ms;

    &:hover {
      filter: opacity(90%);
    }
  }
}


h1 {

  font-size: 1.5rem;

}


.j {
  font-weight: 500;
  color: variables.$red;

}


label .menu {
  position: absolute;
 
   z-index: 200;
  right: .5em;
  top: .5em;
  width: 50px;
  height: 50px;
  background: variables.$kreT;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 variables.$kreT, 0 0 0 0 variables.$kreT;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  
  top: 24px;
  right: 10px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked+.menu {
  box-shadow: 0 0 0 100vw variables.$kreT;
 
  border-radius: 0;
}

label input:checked+.menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked+.menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked+.menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked+.menu+nav {
  opacity: 1;
}

label nav {
  z-index: 300;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .4s 0s ease-in-out;
  transition: .4s 0s ease-in-out;
}

label a {
  
  margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
  font-family: variables.$jost;

  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}

label a:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
} 

  



/* animation */

section:first-child {
  position: static;
  height: fit-content;
}
.animatContainer {
  position: relative;
  margin-top: 0;
}

.animatItem {
  position: absolute;
  top: 0;
  visibility: hidden;
}

.animatItem img {
  width: 120%;
  display: block;
  margin: 0 auto;
}

.animatItem:nth-child(1) {


  z-index: 10;
  animation-name: ani1;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

.animatItem:nth-child(2) {
  visibility: visible;
  filter: brightness(-50%);
  animation-name: appear;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-delay: 7s;
}

.animatItem:nth-child(3) {
  animation-name: appear-stay;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}



@keyframes ani1 {
  0% {

    opacity: 0%;

    visibility: visible;
  }

  50% {
    opacity: 100%;
    transform: translateX(0);



  }


  100% {
    transform: translateX(100%);
    filter: contrast(50%), brightness(50%);

  }
}

@keyframes appear-stay {
  0% {
    visibility: visible;
    transform: translateY(-300%);
  }

  20% {
    transform: translateY(15%);
  }

  50% {
    transform: translateY(-15%);
  }

  80% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(0);
    visibility: visible;
  }
}


/* Introduction */

 .introContainer {
  position: static; 
  background-color: variables.$kre;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
} 

.intro1 {
  text-transform: uppercase;
  font-weight: bold;
}
.intro2 {
  margin-top: 1em;
}


@media screen and (min-width: 576px) { 

  h1 {
  
   /*  transform: translateX(-50%); */
    font-size: 2rem;
    transition: all .5s;
  }  

  label .menu {
    right: 1em;
    top: .8em;
  }

}
